/*nav {*/
/*    display: block!important;*/
/*    padding-bottom: 0!important;*/
/*    height: 18vh;*/
/*}*/

/*nav div:nth-child(2){*/
/*    background: #f1f1f1;*/
/*    padding-left: 0;*/
/*    !*padding-top: 1vh!important;*!*/
/*    !*padding-bottom: 1vh!important;*!*/
/*    height: 6vh;*/
/*}*/

.namebar{
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 8vh;
    background: #ffffff !important;
}

.color-nav{
    background: #f1f1f1!important;
    height: 6vh;
}

.paddingcero{
    padding: 0!important;
    max-height:18vh;
}

.lili{
    padding-top: 0!important;
    padding-bottom: 0!important;
}



.namebar a{
    padding-left: 1.5rem!important;
}


.namebartext{
    font-family: Raleway,sans-serif;
    font-size: 22px!important;
    font-weight: lighter;
}



.lilitext{
    font-family: "Avenir LT Pro 35 Light", sans-serif;
    font-size: 14px!important;
    color: rgb(40, 40, 40) !important;
}

.mobiletext{
    font-family: "Avenir LT Pro 35 Light", sans-serif;
    font-size: 18px!important;
    color: rgb(40, 40, 40) !important;
}





/*Mobile Navbar*/

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
    /*background: #f1f1f1;*/
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    /*background: #373a47;*/
    background: #f1f1f1;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    /*fill: #373a47;*/
    fill: #f1f1f1;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.bm-item {
    display: inline-block;

    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
}

.bm-item:hover {
    color: #ffffff;
}





/*div a{*/
/*    font-family: Raleway,sans-serif;*/
/*    font-size: 22px!important;*/
/*}*/

/*div ul li a{*/
/*    font-family: "Avenir LT Pro 35 Light", sans-serif;*/
/*    font-size: 14px!important;*/
/*}*/



/*.namebar{*/
/*    height: 12vh!important;*/
/*}*/

/*div a{*/
/*    font-family: Raleway,sans-serif;*/
/*    align-items: flex-start;*/
/*    font-size: 22px!important;*/
/*    padding-bottom: 0!important;*/
/*}*/

/*div ul li a{*/
/*    font-family: "Avenir LT Pro 35 Light", sans-serif;*/
/*    font-size: 14px!important;*/
/*    padding-left: 0!important;*/
/*    padding-right: 15px !important;*/
/*    padding-bottom: 0!important;*/
/*    padding-top: 0!important;    */
/*}*/

/*nav div{*/
/*    padding-left: 0 !important;*/
/*    !*padding-top: 3vh !important;*!*/
/*    !*padding-bottom: 3vh !important;*!*/
/*}*/