.App {
  /*text-align: center;*/
  max-height: 100vh!important;
}

.second{
  height: 100vh;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

img {
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
}
@media screen and (max-width: 640px) {
  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.btn-float{
  Height:200px; 
  width:45%;
}

.btn-float-inner{
  position:fixed; 
  top:80vh; 
  left:90vw;
}


